<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<h2>
    This is the CMU FSE Fall 2012 Task 2 Individual Deliverable: CrowdPub
</h2>
<p>
  CrowdPub is an application being developed by Kim Iverson as a delverable in
  the Carnegie Mellon Silicon Valley MSSE Program course
  Foundations of SE, Fall 2012.
</p>
<p>
  This application provides tools and for writers and other creatives as a 
  platform to create publications, in teamwork with others, including books,
  e-books, graphic novels, illustrated books, etc.
</p>
<p>
  This site is devoted to writers and other creative people to provide a
  framework for creativity and collaboration.
  IN DEVELOPMENT!!! Not for public use!
</p>
